<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Some Website</title>
</head>

<body>
	{{> header}}
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, nulla! Voluptate, assumenda odio nostrum,
		suscipit magnam quos voluptatum dolor esse aut nisi ipsa tenetur. Quas itaque nobis ab dolore voluptatibus eligendi
		consectetur placeat, assumenda optio quisquam ipsum inventore, soluta quos nesciunt temporibus accusamus facilis vel,
		velit veniam nemo sit. Earum.
	</p>
	{{> footer}}
</body>

</html>